.main
  

  .main-header
    .main-header__box
      .main-header__box__boxname
        .a
          = @group.name
        .b
        - @group.users.each do |user|
          = user.name
          
      .main-header__box__edit
        .edit
          = link_to "Edit",edit_group_path(current_user)

  .main-message
    = render @messages
    
  .main-footer
    = form_for [@group, @message] do |f|
      .main-footer__input
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'content_btn' do
          = icon('fas', 'image')
          =f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'form__submit'
        
        
          
