.side
  .side-header
    .side-header__box
      .side-header__box__boxname
        = current_user.name
      %ul.side-header__box__icon
        %li.edit
          = link_to new_group_path, class: "contents__btn" do
            = icon('fas', 'edit')
            
        %li.cog
          = link_to  edit_user_path(current_user.id), class: "new__btn" do
            = icon('fas', 'cog', class:'icon')

  .side__list
    - current_user.groups.each do |group|
      .side__list__group
        = link_to group_messages_path(group) do
          .side__list__group__name
          = group.name
          .side__list__group__message
            = group.show_last_message